/* variables globales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baskervville', serif;
    font-family: 'Assistant', sans-serif;
    text-wrap: wrap;

}

:root {
    /* colores modo claro */
    --light: #f1f1f1;
    /*si se cambia modificar también .cardInfo p y .card h2*/
    --dark: #242424;
    /*si se cambia modificar también .carousel-control-icons el fill del bg image*/
    --contrast1: #01a1a2;
    --contrast2: #ffd600;
    --contrast2_light: #fdf691;
    --serif: 'Baskervville', serif;
    --sans: 'Assistant', sans-serif;
    --cardGrad: #242424;
}


body::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: transparent;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--contrast1);
    /* color of the scroll thumb */
    /* border-radius: 20px; */
    /* roundness of the scroll thumb */
    /* border: 3px solid var(--contrast1); */
    /* creates padding around scroll thumb */
}

body {
    /*esto para firegox creo*/
    scrollbar-width: thin;
    /* "auto" or "thin" */
    scrollbar-color: var(--contrast1)
        /* scroll thumb and track */
}

section {
    margin-top: 6rem
}

ul,
li {
    all: unset;
}

p {
    font-size: 1.1rem;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

a {
    all: unset;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--dark);
}

.navBarLink {
    border-bottom: 2px solid transparent;
    display: inline-block;
}

.navBarLink:hover {
    font-weight: bold;
    position: relative;
}

.navBarLink::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--contrast1);
    transition: width .3s;
}

.navBarLink:hover::after {
    width: 100%;
}

html {
    width: 100%;
}

body {
    font-family: var(--sans);
    font-size: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0;
    /* position: relative; */
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.main_cont {
    width: 55vw;
    padding: 7rem 2rem;
    background-color: var(--light);
}

header {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    height: 4rem;
    max-height: 4rem;
    width: 60vw;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    align-content: center;
    padding: 0 2rem;
    background-color: var(--contrast2);
    overflow: hidden;
    transition: background-color 0.8s linear;

    z-index: 3;
}

.ddListClosed {
    -webkit-box-shadow: 0px 36px 53px 32px var(--light);
    -moz-box-shadow: 0px 36px 53px 32px var(--light);
    box-shadow: 0px 36px 53px 32px var(--light);
}

/* estilos para menú hamburguesa */
.burgerNav {
    display: none;


    align-items: center;
}

.ddList {
    color: var(--dark);

    width: 100%;
    text-align: center;
    padding: 5rem 0 0;

}

.ddListCont {
    position: fixed;
    display: none;
    top: 4rem;
    padding: 1rem;
    z-index: 1;
    width: 100%;
    background: var(--light);
    -webkit-box-shadow: 0px -1px 58px 11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -1px 58px 11px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -1px 58px 11px rgba(0, 0, 0, 0.75);
}

.ddList li {
    display: block;
    padding-top: 0.5rem
}

.ddList a {
    font-size: 1.5rem;

}




.animated-icon2 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}


.animated-icon2 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}


.animated-icon2 span {
    background: var(--contrast1);
}


.animated-icon2 span:nth-child(1) {
    top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
    top: 10px;
}

.animated-icon2 span:nth-child(4) {
    top: 20px;
}

.animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}

/*fin menu hamburguesa*/


/* //modo dia/noche */
.navBar {
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBar ul {
    width: 80%;
    display: flex;
    justify-content: space-around;
}


.lanPC {
    width: 125px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 0.5rem;
    border-radius: 21px;
    background-color: var(--light);
}

.lanMobile {
    margin: auto;
    width: 125px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 0.5rem;
    border-radius: 21px;
}




.lanMobile button,
.lanPC button {
    margin: auto;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    border-bottom-right-radius: 0;
}

li .lanMobile {
    display: flex;
    justify-content: center;
}

#btn_EN_m,
#btn_EN {
    background: url(img/EN.jpg) no-repeat center/cover;
}

#btn_EUS_m,
#btn_EUS {
    background: url(img/EUS.jpg) no-repeat center/cover;
}

#btn_ES_m,
#btn_ES {
    background: url(img/ES.jpg) no-repeat center/cover;
}

.bw {
    filter: grayscale(100%);
}



.about {
    margin-top: 3rem;
    padding: 0 3rem;
    /* display: flex; */
}

.img {
    width: 220px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border-top-left-radius: 0;
    background: url('./img/foto_cv_corregida.png') center/cover, linear-gradient(90deg, var(--contrast1) 15%, var(--contrast2) 100%);
}

.abt_header {
    display: flex;
    align-items: center;
}

.contact h2,
.projects h2,
.skills h2,
.contact h2,
.abt_header h2 {
    font-family: var(--serif);
    font-size: 2.5rem;
    color: var(--dark)
}

.abt_header h2 {
    padding: 1rem
}

.name {
    padding-left: 2rem;
}


.abt_header h1 {
    font-family: var(--sans);
    font-size: 3rem;
    font-weight: 300;
    color: var(--dark);
    line-height: 2.8rem;
    padding: 0 1rem
}

.mobile {
    display: none;
}


.abt_header .sub {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--contrast1);
}

#showLess {
    display: none;
}

#expandButton {
    border-radius: 50%;
    color: var(--contrast1);
    transform: rotate(45deg);
    transition: all 1s ease;
}

#expandButton.activo {
    color: var(--dark);
    transform: rotate(270deg);
}

.btn_cont {
    display: flex;
    align-items: center;
}

.btn_cont span {
    padding-left: 1rem;
    color: var(--dark);
    opacity: .8
}

.abt_extended p,
.abt_extended {
    padding-top: 1rem;
}

#abt_ext {
    display: none;
}

.separator {
    height: 1px;
    width: 30vw;
    margin: 1rem auto;
}

.contrast2 {
    background-color: var(--contrast2);
}

.projects {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact_t,
#skill_t,
#pro_t {
    font-family: var(--serif);
    font-size: 2.5rem;
    text-align: center;
    color: var(--dark)
}

.contrast1 {
    background-color: var(--contrast1);
}

/*slider con los proyectos*/


#projectSlider {
    margin-top: 2rem
}

.carousel-control-next,
.carousel-control-prev {


    background-image: none;
    font-size: 2rem;
    color: var(--contrast1);
}

.carousel-control-prev {
    left: -80px;
}

.carousel-control-next {
    right: -80px
}



.carousel-control-prev-icon,
.carousel-control-next-icon {
    all: unset;
    position: absolute;
    color: var(--contrast1);

}


.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    color: var(--contrast1);
}

.dots {
    display: flex;
}

.dot {
    margin: 0.2rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--contrast1);
}

p {
    color: var(--dark);
}

.cardInfo p,
.cardSlider h2 {
    color: #f1f1f1
}

/* estilos de las cards que se meten automáticament desde el script */

.cardSlider {
    min-height: 300px;
    width: 35vw;
}

.carousel-inner {
    display: flex;
    justify-content: flex-start;
    width: 35vw;
}

.overflowCont {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
}



.cardImage {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 3rem;
    justify-content: flex-end;
    color: var(--contrast2);
    position: relative;
}

.projectLink {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--cardGrad);
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.projectLink i {
    color: #f1f1f1
}



.cardInfo {
    color: var(--light);
    padding-bottom: 1.5rem;

}

.cardInfo p {
    padding-bottom: 0.8rem
}

.cardInfo i {
    font-size: 1.5rem;
    color: var(--contrast1);
    margin-right: 0.8rem
}

.sliderDot {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
    margin: 0 8px !important;
}

.carousel-indicators {
    padding-top: 1rem
}

.btn i {
    font-size: 1.8rem;
    color: var(--dark);
}

.btn {
    cursor: pointer;
}


/* boton modo noche */
.darkMode {
    position: absolute;
    cursor: pointer;
    top: 1.2rem;
    right: 2rem;
    width: 30px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}

.sun,
.moon {
    font-size: 1.8rem;
    text-align: center;
    transition: opacity linear 0.5s;
}

.sun {
    padding-top: 2px;
    color: rgb(255, 136, 0);
    opacity: 1;
}

.sun:hover {
    animation: spin 3s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.moon {
    color: white;
    transform: rotateZ(180deg);
    opacity: 0;
}

.rotated {
    transform: rotate(-180deg);
}

.rotated .sun {
    opacity: 0;
}

.rotated .moon {
    opacity: 1;
}

.skills {
    padding-top: 2rem;
    width: 100%;
}

.front img,
.back img,
.aux img {
    max-height: 4.5rem;
    margin: auto;
}

.skills i {
    font-size: 4.5rem;
    color: var(--dark);
    margin: auto;
}

img.bigger {
    height: 5.5rem;
}

#vercelIcon {
    height: 2.5rem;
}

.front,
.back,
.aux {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 1rem;
    align-content: center;
    justify-items: center;
}

.aux_header,
.back_header,
.front_header {
    display: flex;
    padding: 4rem 1rem 1rem;
    align-items: center;
    /* border-bottom: 1px solid var(--contrast2); */
}

.aux_header h3,
.back_header h3,
.front_header h3 {
    font-weight: 300;
    font-size: 1.5rem;
    color: var(--dark);
}

.separator--modified {
    margin-left: 0;
}

.contact {
    min-height: 70vh;
    width: 100%;

}

.grid_container {
    display: grid;
    grid-template-areas: 'p1 p1 p1 p1' '. mail mail .' 'p2 p2 p2 p2' '.link gh.' 'p3 p3 p3 p3' '. cv cv .';
    gap: 2rem;
}

.contactLine a,
.contactLine span {
    font-size: 1.2rem;
    color: var(--dark);
    font-weight: bolder;

}

.contact i {
    font-size: 1.8rem;
    text-align: center;
    padding-right: 2rem;
    color: var(--contrast1)
}

.contactLine {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    text-align: center;
}

#contact_p1 {
    grid-area: p1;
    text-align: center;
}

#contact_p2 {
    grid-area: p2;
    text-align: center;
}

#contact_p3 {
    grid-area: p3;
    text-align: center;
}

.contactLine.mail {
    grid-area: mail;
    justify-self: center;
}

.contactLine.phone {
    grid-area: tel;
}

.contactLine.linkedin {
    grid-area: link;

    justify-self: end;

}

.contactLine.github {
    grid-area: gh;
}

.cv i {
    padding: 0;
    margin: 0;
    color: var(--dark);
    transition: all 0.5s linear;
}

.cv {
    grid-area: cv;
    background: linear-gradient(90deg, var(--contrast2) 0%, var(--contrast2_light) 51%, var(--contrast2) 100%);
    transition: all 0.5s;
    background-size: 200% auto;
    width: 10rem;
    height: 3rem;
    border-radius: 1.5rem;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    justify-self: center;
    color: var(--dark);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cv:hover {
    background-position: right center;
    /* change the direction of the change here */
}

.cv:hover i {
    color: var(--contrast1)
        /* change the direction of the change here */
}

.cv:active {
    transform: scale(0.9);
}


.cardImage:hover {

    animation: bgSize 100s;
}

@keyframes bgSize {
    0% {
        background-size: 100%;
    }

    2% {
        background-size: 125%;
    }

    100% {
        background-size: 125%;
    }
}


.contact .fa-copy {
    font-size: 1.2rem;
    padding-left: .8rem;
    padding-right: .8rem;
    cursor: pointer;

}

.mailBtn {
    display: flex;
}

.contact .fa-circle-exclamation,
.contact .fa-circle-check {
    font-size: 1.2rem;

}

.feedback_cont {
    width: 1.5rem;
}

#validFeedback,
#invalidFeedback {
    display: none;
}

#validFeedback {
    color: green
}

#invalidFeedback {
    color: tomato;
}

@media (max-width:1600px) {
    html {
        font-size: 14px;
    }

    header {
        width: 70vw;
    }

    .main_cont {
        width: 60vw;
    }
}

@media (max-width:1200px) {
    html {
        font-size: 13px;
    }

    header {
        width: 80vw;
    }

    .main_cont {
        width: 70vw;
    }

    .carousel-inner,
    .cardSlider {
        width: 40vw;
    }


}

@media (max-width:1024px) {
    html {
        /* font-size: 12px; */
    }

    header {
        width: 90vw;

    }

    .ddListClosed {
        -webkit-box-shadow: 0px 36px 45px 32px var(--light);
        -moz-box-shadow: 0px 36px 45px 32px var(--light);
        box-shadow: 0px 36px 45px 32px var(--light);
    }

    .main_cont {
        width: 80vw;
    }

    .darkMode {
        right: 3rem
    }

    .navBar ul {
        width: 90%;
    }

    .navBar {
        padding: 0 2rem;
    }



    .carousel-inner,
    .cardSlider {
        width: 45vw;
    }

    .cardInfo {
        padding-bottom: 1rem;

    }

    .front,
    .back,
    .aux {
        grid-template-columns: repeat(6, 1fr);
        gap: 2rem;
    }

    .front,
    .aux {
        grid-template-rows: repeat(2, 1fr);

    }


}

@media (max-width:768px) {
    html {
        font-size: 12px;
    }

    header {
        width: 100vw;
        border-radius: 0;
    }


    .navBar ul {
        width: 100%;
    }

    .main_cont {
        width: 90vw;
    }

    .carousel-inner,
    .cardSlider {
        width: 60vw;
    }

    .front,
    .back,
    .aux {
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;

    }

    .front,
    .aux {
        grid-template-rows: repeat(2, 1fr);

    }

    .lanPC,
    .navBar {
        display: none;

    }

    .burgerNav {
        display: flex
    }

    header {
        grid-template-columns: 1fr 1fr;
    }

    .carousel-control-prev {
        left: -50px
    }

    .carousel-control-next {
        right: -50px
    }
}

@media (max-width:660px) {

    .aux_header,
    .back_header,
    .front_header {
        display: flex;
        padding: 3rem 0.5rem 1rem;
        align-items: center;
    }

    .front,
    .back {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .front {
        grid-template-rows: repeat(3, 1fr);

    }

    .aux {
        all: unset;
        display: grid;
        gap: 1rem;
        ;
        grid-template-areas: ' sIcon1 sIcon2 sIcon3' 'sIcon4 sIcon5 sIcon6' '. sIcon7 .';
        grid-template-columns: repeat(3, 1fr);
        padding-left: 2rem;
        padding-right: 2rem;
        align-content: center;
        justify-items: center;
    }

    .pc {
        display: none;

    }

    .mobile {
        display: block;

    }

    .abt_header .mobile {
        padding-bottom: 1rem;
    }

    .abt_header {
        display: flex;
        flex-direction: column;
    }

    .btn_cont {
        padding: 12px
    }

    #showMore,
    #showLess {
        font-size: 1.5rem;
    }

    #abt_t {
        border-bottom: 1px solid var(--contrast2);
    }

    .contact p,
    .contact a,
    .contact span {
        font-size: 1.3rem;
        text-wrap: wrap;
    }

    .grid_container {
        gap: 1.5rem
    }

    .main_cont {
        width: 100vw;
        padding: 7rem 1rem;
    }

    .skill_container img,
    .skill_container i {
        transform: scale(0.8);
    }

    .carousel-control-next,
    .carousel-control-prev {
        height: 20px;
        top: unset;
        bottom: 18px
    }

    .carousel-control-prev {
        left: 5px
    }

    .carousel-control-next {
        right: 5px
    }

    .carousel-inner,
    .cardSlider {
        width: 80vw;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon,
    .carousel-control-next:focus,
    .carousel-control-next:hover,
    .carousel-control-prev:focus,
    .carousel-control-prev:hover {
        color: #fff;
    }

    .cardInfo p {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: ellipsis;
        word-wrap: break-word
    }

    .front_header,
    .back_header,
    .aux_header {
        justify-content: center;

    }

    .front_header h3,
    .back_header h3,
    .aux_header h3 {
        font-size: 2rem;
        margin-top: 1rem;
    }


}

@media (max-width:560px) {


    .skill_container img,
    .skill_container i {
        transform: scale(0.7);
    }



    .header {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .grid_container {
        display: grid;
        grid-template-areas: 'p1' 'mail' 'p2' 'link' 'gh' 'p3' 'cv';
        gap: 1.5rem;
        padding: 2rem
    }

    .contactLine.linkedin,
    .contactLine.github {

        justify-self: center;

    }

    .cardImage {
        aspect-ratio: 10/12
    }


}